extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/add')
    #form-group
      label Title: 
      input.form-control(name='title', type='text')
    #form-group
      label Body: 
      textarea.form-control(name='body')    
    br  
    input.btn.btn-primary(type='submit', value='Submit')  
