doctype html
html
  head
    title Knowledge-Base
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="/css/style.css")
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='/') Knowledge-Base
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/articles') Articles
          if user  
            li.nav-item
              a.nav-link(href='/articles/add') Add Article
        ul.nav.navbar-nav.navbar-right  
          if user
            li.nav-item
              a.nav-link(href='/users/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/users/register') Register
            li.nav-item
              a.nav-link(href='/users/login') Login      
          
    .container
      br
      != messages('includes/_message', locals)
      if errors
        each error, i in errors
          div(class='alert alert-danger') #{error.msg}
      block content
      br
      hr
      footer
        p Copyright &copy; 2017
    script(src="/bower_components/jquery/dist/jquery.js")  
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/js/main.js") 
